{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h1>Tuotteet</h1>
<hr>
<div class="container">
    <div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <a href="/product/{{ product.id }}" class="product-name">{{ product.name }}</a> 
            <div> 
                <a href="/product/{{ product.id }}"><img class="img-fluid my-image" src="/static/images/{{ product.id }}.jpg"></a>
            </div>
            <p class="product-price">{{ product.price }}€</p>
            <hr>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}