{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
<p>
<a href="/register">Luo tunnus</a>
{% endif %}
{% if session.user_role == 1 %}
<p>Olet admin</p>
{% endif %}
<hr>
{% for product in products %}
<a href="/product/{{ product.id }}">{{ product.name }}</a> 
<a href="/product/{{ product.id }}"><img src="/static/images/{{ product.id }}.jpg"></a>
<p>{{ product.price }}€</p>
<hr>
{% endfor %}