{% extends "layout.html" %}
{% block title %}Lisää tuote{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <h2>Lisää tuote</h2>
            <form action="/new" method="POST" enctype="multipart/form-data" class="form-group">
                <label for="name">Nimi:</label>
                <input type="text" id="name" name="name" class="form-control">
                <br>
                <label for="price">Hinta:</label>
                <input type="text" id="price" name="price" class="form-control">
                <br>
                <label for="description">Kuvaus:</label>
                <textarea id="description" name="description" class="form-control"></textarea>
                <br>
                <label for="file">Kuva:</label>
                <input type="file" id="file" name="file" class="form-control-file">
                <br>
                <input type="submit" value="Lähetä" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}