{% extends "layout.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<h1>{{ product.name }}</h1>
<hr>
<div>
    <img class="img-fluid my-image-product" src="/static/images/{{id}}.jpg">
</div>
<p class="product-price"> {{ product.price }}€</p>
<p>{{ product.description }}</p>
{% if session.username %}
    <p>
        <form action="/cart" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="product_id" value="{{id}}">
            <input type="number" name="amount" value="1" min="1">
            <button type="submit" class="btn btn-success">Lisää ostoskoriin</button>
        </form>
    </p>
{% else %}
    <p>Kirjaudu sisään lisätäksesi tuotteita ostoskoriin.</p>
{% endif %}
<h3>Arvostelut</h3>
{% if reviews|length == 0 %}
    <p>Tuotteella ei ole vielä arvosteluja.</p>
{% else %}
    <p>Keskiarvo: {{average_rating}}/5</p>
{% endif %}
{% for review in reviews %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title"><span class="rating">{{ review.rating }}/5</span> käyttäjältä {{ review.username }} @ {{ review.created_at }}</h5>
            <p class="card-text">{{ review.content }}</p>
        </div>
    </div>
{% endfor %}
{% if session.username %}
<h3>Lisää arvostelu</h3>
<form action="/review" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="product_id" value="{{id}}">
    <label for="content">Arvostelu (3 - 200 merkkiä):</label>
    <textarea name="content" class="form-control" rows="3"></textarea>
    <label for="rating">Arvosana:</label>
    <select name="rating" class="form-control mt-2">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <button type="submit" class="btn btn-success mt-3">Julkaise arvostelu</button>
</form>
{% endif %}
{% endblock %}